/* Form */

.form {
  font-size: 1.1em;
}

.form__group {
  position: relative;
  width: 100%;
  min-height: 3em;
  padding-top: 1em;
  margin: 0.25em 0 1.5em;
  font-family: inherit;
  white-space: nowrap;
}

.form__group::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 2px;
  content: '';
  background-color: var(--color-melrose-dark);
  opacity: 0;
  transition:
    border 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  will-change: border, opacity, transform;
  transform: scaleX(0.12);
}

.form__group::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  background-color: var(--color-black-a42);
  transition:
    border 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  will-change: border, opacity, transform;
}

.form__group--focus::before {
  background-color: var(--color-melrose-dark);
  opacity: 1;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, opacity, transform;
  transform: scaleX(1);
}

.form__group--error::before {
  background-color: var(--color-red);
  opacity: 1;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, opacity, transform;
  transform: scaleX(1);
}

.form__group--textarea::before {
  top: 0;
  bottom: 0;
  height: auto;
  pointer-events: none;
  background: none !important;
  border: 2.5px solid transparent;
  border-radius: 3px;
  transform: none;
}

.form__group--focus.form__group--textarea::before {
  border-color: var(--color-melrose-dark);
}

.form__group--value.form__group--textarea::before {
  opacity: 1;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, opacity, transform;
}

.form__group--error.form__group--textarea::before {
  border-color: var(--color-red);
}

.form__group--textarea::after {
  top: 0;
  height: auto;
  pointer-events: none;
  content: '';
  background: transparent;
  border: 1px solid var(--color-black-a42);
  border-radius: 3px;
}

.form__label {
  position: absolute;
  top: 1.44em;
  left: 0;
  color: var(--color-black-a54);
  pointer-events: none;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form__group--focus .form__label {
  color: var(--color-melrose-dark);
}

.form__group--value .form__label {
  top: 0;
  font-size: 0.75em;
  pointer-events: all;
  opacity: 1;
}

.form__label--value {
  top: 0;
  font-size: 0.75em;
  pointer-events: auto;
}

.form__label--textarea {
  top: 1em;
  left: 1em;
}

.form__group--value .form__label--textarea {
  top: 0.375em;
}

.form__input {
  display: block;
  width: 100%;
  height: 2em;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: 2em;
  background: none;
  border: none;
  outline: none;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: font-size, padding-top, color;
}

.form__select-wrap {
  position: relative;
}

.form__select-wrap::after {
  position: absolute;
  top: 50%;
  right: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.9em;
  height: 0.9em;
  content: url(../img/arrow.svg);
  transform: translateY(-50%);
}

.form__input--select {
  appearance: none;
}

.form__textarea {
  display: block;
  flex: 1;
  width: 100%;
  height: 4em;
  min-height: 6.25em;
  padding: 1em;
  padding-top: 0.625em;
  font-size: 1em;
  line-height: 1.3em;
  resize: vertical;
  background: none;
  border: none;
  outline: none;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: font-size, padding-top, color;
}

.form__button {
  display: block;
  padding: 0.5em 1em;
  color: var(--color-white);
  background-color: var(--color-melrose);
  border-radius: 3px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:focus,
.form__button:hover {
  background-color: var(--color-melrose-dark);
}
