/* Global */

:root {
  --color-melrose: #b8c4ff;
  --color-melrose-dark: #6e7abb;
  --color-white: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
input,
button {
  font: inherit;
  color: inherit;
}
