/* Header */

.header {
  position: relative;
  z-index: 1000;
  min-height: 80px;
  background-color: var(--color-melrose);
}

.header--shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.header__inner {
  max-width: 1360px;
  padding: 1rem;
  margin: 0 auto;
}
